<div class="login-container">
  <div class="login-box">
    <h2 class="login-title">CUSTOMER LOGIN</h2>

    <input [(ngModel)]="name" placeholder="Name" type="text" class="input-box" />
    <input [(ngModel)]="email" placeholder="Email ID" type="email" class="input-box" />
    <input [(ngModel)]="password" placeholder="Password" type="password" class="input-box" />

    <div class="extra-options">
      <label><input type="checkbox" /> Remember me</label>
      <a href="#">Forgot Password?</a>
    </div>

    <button (click)="login()" class="login-btn">LOGIN</button>
  </div>
</div>
