<div class="dashboard-container">
  <h1 class="dashboard-title"> Welcome To Portal</h1>

  <div class="user-info">
    <h5><strong>Name:</strong> {{ name }}</h5>
    <h5><strong>Email:</strong> {{ email }}</h5>
    <h5><strong>Phone:</strong> {{ phone || 'N/A' }}</h5>
    <h5><strong>Address:</strong>{{ address || 'N/A' }}</h5>
    <h5><strong>Role:</strong> {{ role || 'N/A' }}</h5>
  </div>
<h2 class="section-title">Student List</h2>

<div class="student-dropdown">
  <select [(ngModel)]="selectedStudentId">
    <option [value]="null" disabled selected>Select a student</option>
    <option *ngFor="let student of students" [value]="student.id">
      {{ student.name }}
    </option>
  </select>

  <button (click)="selectedStudentId !== null && viewStudent(selectedStudentId)" [disabled]="!selectedStudentId">
    View
  </button>
</div>

  <div *ngIf="selectedStudent" class="selected-student">
    <h2 class="section-title">Selected Student Info</h2>
    <p><strong>Name:</strong> {{ selectedStudent.name }}</p>
    <p><strong>Email:</strong> {{ selectedStudent.email }}</p>
    <p><strong>Phone:</strong> {{ selectedStudent.phone || 'N/A' }}</p>
    <p><strong>Address:</strong> {{ selectedStudent.address || 'N/A' }}</p>
    <p><strong>Role:</strong> {{ selectedStudent.role }}</p>
  </div>

  <button class="logout-btn" (click)="logout()">Logout</button>
</div>
